# ~/ansible_devops_project/templates/resolved.conf.j2
[Resolve]
DNS=192.168.15.179
FallbackDNS=8.8.8.8 8.8.4.4
Domains=wd.local
#DNSSEC=no
#DNSOverTLS=no
#MulticastDNS=no
#LLMNR=no
#Cache=yes
#DNSStubListener=yes
#ReadEtcHosts=yes