[Unit]
Description=SonarQube service
After=syslog.target network.target postgresql.service
Wants=postgresql.service

[Service]
Type=forking
User=sonarqube
Group=sonarqube
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop
ExecReload=/opt/sonarqube/bin/linux-x86-64/sonar.sh restart
LimitNOFILE=65536
LimitNPROC=4096
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target